################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Asteroids Game/.vs/Asteroids Game/v16
